html{height: 100%;
}
body{font-size: 135%;
 height: 100%;
 display: block;
 margin: 0px 8px 10px 16px;
 word-wrap:break-word;
  word-break: break-all;
  background-image:url(/images/背景图.png) ;
  
}

a:link {color: #8e3200;}      /* 未访问链接*/
a:visited {color: #8e3200;}  /* 已访问链接 */

.this{color: rgb(145, 145, 145);}
.next{color: rgb(145, 145, 145);}
#position{font-size: small;
          color:gray;}
#container {height:auto;
        min-height:100%;
        position: relative;
       }

#main {padding: 0px 0em 36px;
  }
.secondary_directory{position:relative;
    left:20px;
    width: 96%;}
          .secondary_directory-contai{
                font-size: medium;
                color: rgb(0, 0, 0);
              }
#footer {text-align:center;
    position: absolute;
    bottom:0;
    width: 100%;
    }
hr{
      border-top: 1px dashed;
  }  
#position-and-site-name{
  margin-bottom: 6px;
}
#touxiang{
  height: 28.8px;
}   
.copy-right{
  font-size: small;
  color:rgb(145, 145, 145);
        margin:0px
        }
details{color: gray;}
